<link rel="stylesheet" href="/stylesheets/web/admin/simplemde.min.css">
<script src="/js/simplemde.min.js"></script>

<main id="site-main" class="site-main outer">
    <link rel='stylesheet' href='/stylesheets/web/admin/add.css' />
    <h1 class="add-heading"><a href="/admin">< Back</a> | <% if(article) {%> Update <% } else { %>  Create <% } %> Article</h1>
    <form id="update" name="update" action="/updateArticle" method="post">     
        <button type="submit" class="btn-form-top btn btn-primary btn-block btn-large">Update Article.</button>
        <input type="text" name="id" placeholder="id" required="required" <% if(article && article.id) {%> value="<%= article.id %>" readonly <% } %> />
        <input type="text" name="title" placeholder="title" required="required" <% if(article && article.title) {%> value="<%= article.title %>" <% } %> />
        <input type="text" name="visible" placeholder="visible" required="required" <% if(article && article.visible) {%> value="<%= article.visible %>" <% } %> />
        <input type="text" name="tags" placeholder="tags" required="required" <% if(article && article.tags) {%> value="<%= article.tags %>" <% } %> />
        <input type="text" name="description" placeholder="description" required="required" <% if(article && article.description) {%> value="<%= article.description %>" <% } %> />
        <% if(article) {%> <input name="updateArticle" type="hidden" value="true"> <% } %> 
        <textarea id="markdownWysiwyg" name="content" form="update"><% if(article && article.content) {%> <%= article.content %> <% } %></textarea>
        <script>
                var simplemde = new SimpleMDE({ element: document.getElementById("markdownWysiwyg") });
        </script>

        <button type="submit" class="btn btn-primary btn-block btn-large">Update Article.</button>
    </form>
</main>