<link rel='stylesheet' href='/stylesheets/web/admin/overview.css' />
<script src="/js/table.js"></script>

<main id="site-main" class="site-main outer">
    <div class="logout">
        <a href="/logout"><button class="btn btn-success btn-add">Logout</button></a>
    </div>
    <div class="articles">
        <h1>Articles</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="not-mob">Tags</th>
                    <th class="not-mob">Date</th>
                    <th class="not-mob">Visible</th>
                    <th style="width: 150px;"> </th>
                </tr>
            </thead>
            </table>
        </div>
        <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                        <% if(articles) {articles.forEach(function(data){ %>
                            <tr>
                                <td><%= data.title %></td>
                                <td class="not-mob"><%= data.tags %></td>
                                <td class="not-mob"><%= data.time %></td>
                                <td class="not-mob"><%= data.visible %></td>
                                <td style="width: 150px;">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <!--<button class="btn btn-danger" onClick="removeArticle(<%= data.id%>)">-</button>-->
                                        <form action="/admin/downloadArticle/<%=data.id%>" method="post">
                                            <button type="submit" class="btn btn-default"><img class="icon-img" src="/images/icons/download.svg"/></button>
                                        </form>
                                        <a href="/admin/editArticle/<%=data.id%>"><button class="btn btn-default"><img class="icon-img" src="/images/icons/edit.svg"/></button></a>
                                        <form action="/admin/exportArticle/<%=data.id%>" method="post">
                                            <button type="submit" class="btn btn-default"><img class="icon-img" src="/images/icons/export.svg"/></button>
                                        </form>
                                        
                                    </div>
                                </td>
                            </tr>
                        <% });}%>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/admin/addArticle"><button class="btn btn-success btn-add">Add Article</button></a>
        </div>
    </div>
</main>