<% if(!locals.amp || !amp) { %>
    <script src="/js/progressbar.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

    <div class="header">
        <div class="progress-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>
    </div>
<% } %>

<main id="site-main" class="site-main outer">
    <div class="inner static">
        
        <time class="posting-date" style="color:gray;" datetime="<%= moment(data.time).format( 'DD-MMM-YYYY') %>"><%= moment(data.time).format( 'DD-MMM-YYYY') %></time>
        <time class="reading-time" style="color:gray;" ><%= readingTime.text %></time>
        
        <title><%- data.title%></title>
        <h1 class="posting-title"><%- data.title%></h1>
        <section class="markdown-body">
            <%- data.content %>
        </section>
    </div>
</main>
<% if(!locals.amp || !amp) { %>
	<%- include ../templates/comments.ejs %>
<% } %>