    <header class="site-header outer " style="background-image: url(/images/bg.jpg);">     
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    <img class="site-logo" src="/images/logo_b_negative.svg" alt="<%= altTag.toUpperCase() %>">
                </h1>
            </div>
        </div>
    </header>
    <main id="site-main-index" class="site-main outer" role="main">
        <div class="inner">
            <div class="news-feed">
                <% data.forEach(function(data){ %>
                    <article class="posting">
                        <div class="posting-content">
                            <a target="_blank" class="posting-content-link" href="<%= data.url %>">
                                <header class="posting-header">
                                    <span class="posting-tags"><%= data.tags %></span>
                                    <h2 class="posting-title"><%= data.title %></h2>
                                </header>
                                <section class="posting-excerpt">
                                    <p><%= data.description %></p>
                                </section>
                            </a>
                        </div>
                    </article>
                <% });%>
               </div>
        </div>
    </main>
