    <header class="site-header outer " style="background-image: url(/images/bg.jpg);">
        <title><%= altTag.replace('www.','').toUpperCase() %> - DEV Blog by Erik Weisser</title>        
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    <div class="site-logo">
                            <img class="site-logo-svg" src="/images/signet_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>">
                            <img class="site-logo-svg" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>">
                    </div>
                </h1>
            </div>
        </div>
    </header>
    <main id="site-main-index" class="site-main outer " role="main">
        <div class="inner">
            <div class="news-feed">
                <% data.forEach(function(data){ %>
                    <article class="posting <%= easterEgg%>">
                        <div class="posting-content">
                            <a title="<%- data.title %>" class="posting-content-link" href="/articles/<%= data.id %>">
                                <header class="posting-header">
                                    <span class="posting-tags"><%= data.tags %></span>
                                    <h2 class="posting-title"><%- data.title %></h2>
                                </header>
                                <section class="posting-excerpt">
                                    <p><%= data.description %></p>
                                </section>
                                <div class="time-section">
                                    <time class="posting-date" datetime="<%= moment(data.time).format( 'DD-MMM-YYYY') %>"><%= moment(data.time).format( 'DD-MMM-YYYY') %></time>
                                    <time class="reading-time"><%= data.readingTime %></time>
                                </div>
                            </a>
                        </div>
                    </article>
                <% });%>
               </div>
        </div>
    </main>
