<!DOCTYPE html>
<html amp lang="en">
    <%- include head.ejs %>
    <body>
        <div class="site-wrapper">
            <!-- Header -->
            <%- include header.ejs %>
            <!-- /Header -->

            <!-- Content -->
            <%- include(page) %>
            <!-- /Content -->

            <!-- Toggle for Darkmode and Lightmode-->
            <% if(!amp) { %>
                <%- include theme.ejs %>
            <% } %>
            <!-- /toggle -->
            
            <!-- Footer -->
            <%- include footer.ejs %>
            <!-- /Footer -->
        </div>

    </body>
</html>