<header class="whit-e-head">
    <nav class="whit-e-navbar inner">
        <div class="whit-e-navbar-left">
            <a class="whit-e-nav-logo whit-e-navbar-item" href="/">
                <amp-img layout="responsive" class="whit-e-svg-signet" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
                <amp-img layout="responsive" class="svg-logo-light" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
                <amp-img layout="responsive" class="svg-logo-dark" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
                
                <div class="whit-e-nav-logo-suffix">
                    <% if(typeof filter !== 'undefined' && filter !== "home" && filter.length > 0) { %>
                        <%= filter %>
                    <% } else { %>
                        Blog
                    <% } %>
                </div></a>
        </div>
        <div class="whit-e-navbar-right">
        <% if(typeof filter !== 'undefined' && filter === "home") { %>
           <a class="whit-e-navbar-item active" href="/">Home</a>
           <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } else if(typeof filter !== 'undefined' && filter === "about") { %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item active" href="https://weisser.dev">About</a>
        <% } else { %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } %>
            <a class="whit-e-navbar-btn whit-e-btn" href="https://github.com/whit-e">
                <amp-img layout="responsive" src="/images/GitHub-Mark-32px.png" layout="responsive" height="32px" width="32px" alt="GitHub.com Logo"></amp-img>
                <span>Github</span>
            </a>
        </div>
    </nav>
</header>
<header class="whit-e-mobilehead">
    <nav class="whit-e-mobilenavbar">
        <a class="whit-e-nav-burger" href="#">
            <div class="hamburger">
                <div class="hamburger-box"><div class="hamburger-inner"></div></div>
            </div>
        </a>
        <a class="whit-e-nav-logo-mob" href="/">
            <amp-img layout="responsive" class="whit-e-svg-signet" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
            <amp-img layout="responsive" class="svg-logo-light" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
            <amp-img layout="responsive" class="svg-logo-dark" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
        </a>
    </nav>
    <div class="whit-e-mobilemenu">
        <% if(typeof filter !== 'undefined' && filter === "home") { %>
           <a class="whit-e-navbar-item active" href="/">Home</a>
           <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } else if(typeof filter !== 'undefined' && filter === "about"){ %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item active" href="https://weisser.dev">About</a>
        <% } else { %>
                <a class="whit-e-navbar-item" href="/">Home</a>
                <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } %>
        <a class="whit-e-navbar-btn whit-e-btn" href="https://github.com/whit-e">
            <amp-img src="/images/GitHub-Mark-32px.png" layout="responsive" height="32px" width="32px" alt="GitHub.com Logo"></amp-img>
            <span>Github</span>
        </a>
    </div>
</header>
