<header class="whit-e-head">
    <nav class="whit-e-navbar inner">
        <div class="whit-e-navbar-left">
            <a class="whit-e-nav-logo whit-e-navbar-item" href="/">
                <% if(amp) { %>
                    <amp-img layout="responsive" class="whit-e-svg-signet" height="25px" width="20px" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
                    <amp-img layout="responsive" class="svg-logo" height="25px" width="140px" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></amp-img>
                
                <% } else { %>
                    <img class="whit-e-svg-signet" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
                    <img class="svg-logo-light" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
                    <img class="svg-logo-dark" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
        
                <% } %>
                
                <div class="whit-e-nav-logo-suffix">
                    <% if(typeof filter !== 'undefined' && filter !== "home" && filter.length > 0) { %>
                        <%= filter %>
                    <% } else { %>
                        Blog
                    <% } %>
                </div></a>
        </div>
        <div class="whit-e-navbar-right">
        <% if(typeof filter !== 'undefined' && filter === "home") { %>
           <a class="whit-e-navbar-item active" href="/">Home</a>
           <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } else if(typeof filter !== 'undefined' && filter === "about") { %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item active" href="https://weisser.dev">About</a>
        <% } else { %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } %>
            <a class="whit-e-navbar-btn whit-e-btn" href="https://github.com/whit-e">
                <% if(!amp) {%>
                    <img height="15px" width="15px" src="/images/GitHub-Mark-32px.png" alt="GitHub.com Logo"/>
                <% } %>
                <span>Github</span>
            </a>
        </div>
    </nav>
</header>
<header class="whit-e-mobilehead">
    <% if(!amp) { %>
    <nav class="whit-e-mobilenavbar">
        <a class="whit-e-nav-burger" href="#">
            <div class="hamburger">
                <div class="hamburger-box"><div class="hamburger-inner"></div></div>
            </div>
        </a>
        <a class="whit-e-nav-logo-mob" href="/">
            <img class="whit-e-svg-signet" height="25px" width="20px" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
            <img class="svg-logo-light" height="25px" width="140px" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
            <img class="svg-logo-dark" height="25px" width="140px" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
        </a>
    </nav>
    <div class="whit-e-mobilemenu">
        <% if(typeof filter !== 'undefined' && filter === "home") { %>
           <a class="whit-e-navbar-item active" href="/">Home</a>
           <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } else if(typeof filter !== 'undefined' && filter === "about"){ %>
            <a class="whit-e-navbar-item" href="/">Home</a>
            <a class="whit-e-navbar-item active" href="https://weisser.dev">About</a>
        <% } else { %>
                <a class="whit-e-navbar-item" href="/">Home</a>
                <a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
        <% } %>
        <a class="whit-e-navbar-btn whit-e-btn" href="https://github.com/whit-e">
            <img height="15px" width="15px" src="/images/GitHub-Mark-32px.png" alt="GitHub.com Logo"/>
            <span>Github</span>
        </a>
    </div>
    <% } else { %>
        <nav class="whit-e-mobilenavbar">
                <a class="whit-e-nav-logo-mob" style="margin-top:-10px;font-size:xx-large;" href="/">Home</a>
            </nav>
    <% } %>
</header>
