<header class="whit-e-head">
    <nav class="whit-e-navbar inner">
        <div class="whit-e-navbar-left">
            <a class="whit-e-nav-logo whit-e-navbar-item" href="/">
                <% if(!locals.amp || !amp) { %>
                    <img class="whit-e-svg-signet" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
                    <img class="svg-logo-light" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
                    <img class="svg-logo-dark" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
                <% } %>
                
                <div class="whit-e-nav-logo-suffix">
                    <% if(typeof filter !== 'undefined' && filter !== "home" && filter.length > 0) { %>
                        <%= filter %>
                    <% } else { %>
                        <% if(locals.amp && amp) { %> <%=altTag.replace('www.','').toUpperCase()%> - Dev <% } %>
                        Blog
                    <% } %>
                </div></a>
        </div>
        <div class="whit-e-navbar-right">
                <%- include ../content/navi.ejs %>
        </div>
    </nav>
</header>
<header class="whit-e-mobilehead">
    <% if(!locals.amp || !amp) { %>
    <nav class="whit-e-mobilenavbar">
        <a class="whit-e-nav-burger" href="#">
            <div class="hamburger">
                <div class="hamburger-box"><div class="hamburger-inner"></div></div>
            </div>
        </a>
        <a class="whit-e-nav-logo-mob" href="/">
            <img class="whit-e-svg-signet" height="25px" width="20px" src="/images/signet_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
            <img class="svg-logo-light" height="25px" width="140px" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_positive.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
            <img class="svg-logo-dark" height="25px" width="140px" src="/images/<%=altTag.replace('www.','').toLowerCase()%>_logo_negative.svg" alt="<%= altTag.replace('www.','').toUpperCase() %>"></img>
        </a>
    </nav>
    <div class="whit-e-mobilemenu">
            <%- include ../content/navi.ejs %>
    </div>
    <% } else { %>
        <nav class="whit-e-mobilenavbar">
                <a class="whit-e-nav-logo-mob" style="color:white;margin-top:-5px;font-size:xx-large;" href="/">
                    <% if(locals.amp && amp) { %> <%=altTag.replace('www.','').toUpperCase()%> - Dev <% } %>Blog
                </a>
            </nav>
    <% } %>
</header>
