<link rel='stylesheet' href='/stylesheets/github_markdown.css' />
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<meta property="og:image" content="https://<%= altTag.toUpperCase() %>/images/metaimg.JPG">
<meta property="og:title" content="<%- data.title%>">
<meta property="og:site_name" content="https://<%= altTag.toUpperCase() %>/<%= data.id%>">
<meta property="og:description" content="<%= data.description%>">
<meta property="og:url" content="https://<%= altTag.toUpperCase() %>/<%= data.id%>">
<meta name="description" content="<%= data.description%>">

<main id="site-main" class="site-main outer">
    <div class="inner static">
        <time class="posting-date" datetime="<%= moment(data.time).format( 'DD-MMM-YYYY') %>"><%= moment(data.time).format( 'DD-MMM-YYYY') %></time>
        <title><%- data.title%></title>
        <h1 class="posting-title"><%- data.title%></h1>
        <section class="markdown-body">
            <%- data.content %>
        </section>
    </div>
</main>
<section id="comments" class="comments">
    <div class="inner static">
        <div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = "<%= baseUrl %>";
				this.page.identifier = "<%= data.title %>";
			};
			(function() { 
				var d = document, s = d.createElement('script');
				s.src = 'https://whit-e.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</section>