<% if(!locals.amp || !amp) { %>
	<script src="/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
<% } %>

<meta property="og:image" content="https://<%= altTag.replace('www.','').toLowerCase() %>/images/metaimg_<%= altTag.replace('www.','').toLowerCase() %>.JPG">
<meta property="og:title" content="<%- data.title%>">
<meta property="og:site_name" content="https://<%= altTag.replace('www.','').toLowerCase() %>/<%= data.id%>">
<meta property="og:description" content="<%= data.description%>">
<meta property="og:url" content="https://<%= altTag.replace('www.','').toUpperCase() %>/<%= data.id%>">
<meta name="description" content="<%= data.description%>">

<main id="site-main" class="site-main outer">
    <div class="inner static">
        <time class="posting-date" datetime="<%= moment(data.time).format( 'DD-MMM-YYYY') %>"><%= moment(data.time).format( 'DD-MMM-YYYY') %></time>
        <title><%- data.title%></title>
        <h1 class="posting-title"><%- data.title%></h1>
        <section class="markdown-body">
            <%- data.content %>
        </section>
    </div>
</main>
<% if(!locals.amp || !amp) { %>
	<%- include comments.ejs %>
<% } %>